extends layout
block content
    div
        form(method="POST" action="/setPassword")

            h3 Reset Password
            label( for="inputPassword") New Password 
            input( type="password" name="password" id="inputPassword" required autofocus) 
            input( type="hidden" name="token" value=token)

            button(type="submit") Reset Password
